<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
</head>
<body>
<h1>View category: <span th:text="${category.cateName}"></span></h1>
<a href="/category/list">Category list</a>
<table border="1">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Create date</th>
        <th>Category</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.createDate}"></td>
            <td th:text="${blog.category.cateName}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>