<div class="container-fluid bg-info fixed-top header">
  <div class="row px-lg-5 pt-lg-3 pb-lg-1 ">
    <div class="col-lg-2">
      <p class="font-weight-bold text-white"></p>
    </div>
  </div>
  <div class="row px-lg-5 bg-nav">
    <div class="col-lg-2">
      <img class="img-fluid mt-lg-2" src="../../assets/images/furama-logo.png" alt="logo" width="200" height="40"/>
    </div>
    <div class="col-lg-10">
      <hr class="m-0">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
