<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
<h1>Blogs list</h1>
<p><a href="/create">Write new Blog</a></p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Create date</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.createDate}"></td>
            <td><a th:href="@{/detail/__${blog.id}__ }">View</a></td>
            <td><a th:href="@{/edit/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>