<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee</title>
    <link rel="stylesheet" href="/asset/bootstrap413/css/bootstrap.min.css">
</head>
<body>
<div class="employee-table">
    <div class="container-fluid bg-light">
        <div class="row px-lg-5 pt-lg-3 pb-lg-1">
            <div class="col-lg-10">
                <img class="img-fluid" src="/asset/images/furama.png"/>
            </div>
            <div class="col-lg-2">
                <p class="font-weight-bold text-info">A0321I1 - Võ Thành Luân</p>
            </div>
        </div>
        <div class="row px-lg-5">
            <div class="col-lg-12">
                <hr class="m-0">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/employee">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/customer">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contract">Contract</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Service</a>
                            </li>
                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" name="name" type="text" id="name"
                                   placeholder="Search..."
                                   aria-label="Search"/>
                            <button class="btn btn-outline-info my-2 my-sm-0" id="search">Search</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row bg-white">
            <div class="col-lg-12 bg-white px-lg-5 pt-lg-3">
                <p><a href="/employee/create" class="btn btn-success mt-lg-2">Add new</a></p>
<!--                <th:block th:if="${message}">-->
<!--                    <p th:text="${message}"></p>-->
<!--                </th:block>-->
                <table id="employee" class="table table-bordered mt-lg-2">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">ID card</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Position</th>
                        <th scope="col">Education</th>
                        <th scope="col">Division</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="employee : ${employees}">
                        <tr>
                            <td th:text="${employee.employeeName}"></td>
                            <td th:text="${employee.employeeBirthday}"></td>
                            <td th:text="${employee.employeeIdCard}"></td>
                            <td th:text="${employee.employeeSalary}"></td>
                            <td th:text="${employee.employeePhone}"></td>
                            <td th:text="${employee.employeeEmail}"></td>
                            <td th:text="${employee.employeeAddress}"></td>
                            <td th:text="${employee.position.positionName}"></td>
                            <td th:text="${employee.educationDegree.educationDegreeName}"></td>
                            <td th:text="${employee.division.divisionName}"></td>
                            <td><a th:href="@{/employee/edit/__${employee.employeeId}__ }">Edit</a></td>
                            <td>
                                <!--<a th:href="@{/employee/delete/__${employee.employeeId}__ }">Delete</a>-->
                                <button id="btnModalDelete" type="button" class="btn btn-outline-dark"
                                        th:onclick="'javascript:showDelete(\''+${employee.employeeId}+'\');'">Delete
                                </button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div>
                    <a th:href="@{'/employee/list'(page=${employees.number - 1})}" th:if="${employees.hasPrevious()}">Previous</a>
                    <span th:text="${employees.number + 1}"></span>/<span th:text="${employees.totalPages}"></span>
                    <a th:href="@{'/employee/list'(page=${employees.number + 1})}"
                       th:if="${employees.hasNext()}">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal confirm delete -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="/asset/jquery/jquery.js"></script>
<script src="/asset/jquery/list.js"></script>
<script src="/asset/bootstrap413/js/bootstrap.min.js"></script>
</body>
</html>