<!--<div class="container-fluid footer-top p-lg-3">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-3 footer-about wow fadeInUp animated"-->
<!--           style="visibility: visible; animation-name: fadeInUp;">-->
<!--        <h3 class="text-secondary">About us</h3>-->
<!--        <p>-->
<!--          We are a young company always looking for new and creative ideas to help you with our products in-->
<!--          your everyday work.-->
<!--        </p>-->
<!--        <p>© Company Inc.</p>-->
<!--      </div>-->
<!--      <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated"-->
<!--           style="visibility: visible; animation-name: fadeInDown;">-->
<!--        <h3 class="text-secondary">Contact</h3>-->
<!--        <p>&nbsp;<i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>-->
<!--        <p><i class="fas fa-phone"></i> Phone: (0039) 333 12 68 347</p>-->
<!--        <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>-->
<!--        <p><i class="fab fa-skype"></i> Skype: you_online</p>-->
<!--      </div>-->
<!--      <div class="col-md-4 footer-links wow fadeInUp animated"-->
<!--           style="visibility: visible; animation-name: fadeInUp;">-->
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <h3 class="text-secondary">Links</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-6">-->
<!--            <p>Home</p>-->
<!--            <p>Features</p>-->
<!--            <p>How it works</p>-->
<!--            <p>Our clients</p>-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--            <p>Plans &amp; pricing</p>-->
<!--            <p>Affiliates</p>-->
<!--            <p>Terms</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="footer-bottom py-4">
  <div class="container">
    <div class="row">
      <div class="col footer-social text-center">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
      </div>
    </div>
  </div>
</div>
