<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<a href="/category/create">Create new category</a>
<h1>Categories</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="cate : ${categories}">
        <tr>
            <td th:text="${cate.cateName}"></td>
            <td><a th:href="@{/category/view/__${cate.cateId}__ }">View</a></td>
            <td><a th:href="@{/category/edit/__${cate.cateId}__ }">Edit</a></td>
            <td><a th:href="@{/category/delete/__${cate.cateId}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>