<div class="footer-bottom py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <p class="my-auto ">&copy; Copy right - Codegym - Template by Naul</p>
      </div>
      <div class="col-lg-5 footer-social text-center">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
      </div>
    </div>
  </div>
</div>
