<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new song</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<form action="#" th:action="@{/create}" th:object="${song}"
      method="POST">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}"/></td>
            <td th:class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</td>
        </tr>
        <tr>
            <td>Category</td>
            <td><input type="text" th:field="*{category}"/></td>
            <td th:class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Name Error</td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>